<div id="contact" [ngClass]="{ 'dark-profile': darkMode }" data-aos="flip-left">
  <div class="grid-container">
    <div class="grid-item">
      <h5>Sitios amigos</h5>
      <ul>
        <li>
          <a
            href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"
          >
            Argentina Programa 4.0
          </a>
        </li>
        <li><a href="https://www.fundacionformar.net/">FORMAR</a></li>
        <li><a href="https://www.bezkoder.com/">Bezkoder</a></li>
        <li><a href="https://www.faztweb.com/">Faztweb</a></li>
        <li><a href="http://www.onlinewebfonts.com/">oNline Web Fonts</a></li>
        <li><a href="https://www.techgeeknext.com/">Tech Geek Next</a></li>
      </ul>
    </div>
    <div class="grid-item">
      <h5>Contacto</h5>
      <ul>
        <li>dannieldavvid2004@gmail.com</li>
        <li>1153162889</li>
      </ul>
    </div>
    <!-- <div class="grid-item">
  </div> -->
  </div>
  <cite class="pwd">powered with perseverance and effort</cite>
</div>
