<!------------------------------------ ANALIZED ERASABLE  --------------------------------------->
<!------------------ VIEW MODE. ELSE EDIT MODE (BELOW) ----------------->
<!-- viewMode ORIGINAL -->
<!-- !viewMode ADDED -->
<!-- !viewMode TO SHOW EDITING FORM DIRECTLY -->
<div *ngIf="!viewMode; else editable">
  <!-- IF currentEducation.id TRUE-->
  <div *ngIf="currentEducation.id">
    <h4>education.details.component - viewMode</h4>
    <!-- TITLE -->
    <div>
      <label><strong>Title:</strong></label>
      {{ currentEducation.title }}
    </div>
    <!-- DESCRIPTION -->
    <div>
      <label><strong>Description:</strong></label>
      {{ currentEducation.description }}
    </div>
    <!-- LINK TO EDITE MODE -->
    <a
      class="badge badge-warning"
      routerLink="/education/edit/{{ currentEducation.id }}"
    >
      Edit
    </a>
    <!-- LINK TO EDITE MODE / -->
  </div>
  <!-- IF currentEducation.id TRUE / -->

  <div *ngIf="!currentEducation">
    <br />
    <p>Please click on a Education...</p>
  </div>
</div>
<!------------------ VIEW MODE. ELSE EDIT MODE (BELOW) ---------------/ -->
<!------------------------------------ ANALIZED ERASABLE / --------------------------------------->

<!-- OPTION 2 -->
<!-- ERASE VIEW MODE BLOCK (above) -->
<!-- ERASE ng-template (below) -->
<!-- ADD <div *ngIf="viewMode">edit mode...</div> (below) -->

<!-------------- EDIT MODE VIEW------------------>
<ng-template #editable>
  <div *ngIf="currentEducation.id" class="edit-form">
    <h4>Editando Education</h4>
    <!-- BUTTONS EDIT -->
    <div class="article-buttons-edit">
      <!-- DELETE -->
      <button class="badge badge-danger mr-2" (click)="confirmDelete()">
        Eliminar
      </button>
      <!-- DELETE / -->
      <!-- UPDATE -->
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateEducation()"
      >
        Actualizar
      </button>
      <!-- MESSAGE "This education was updated successfully" -->
      <span class="{{ message ? 'message' : '' }}">
        {{ message }}
      </span>
      <!-- MESSAGE "This education was updated successfully" / -->
      <!-- UPDATE / -->
    </div>
    <!-- BUTTONS EDIT / -->
    <!-- FORM -->
    <form class="editable">
      <!-- TITLE -->
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentEducation.title"
          name="title"
        />
      </div>
      <!-- TITLE / -->
      <!-- DESCRIPTION -->
      <div class="form-group">
        <label for="description">Descripción</label>
        <textarea
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentEducation.description"
          name="description "
          rows="5"
          cols="90"
        ></textarea>
      </div>
      <!-- DESCRIPTION / -->
    </form>
    <!-- FORM /-->
  </div>
  <!-- IF currentEducation.id FAIL -->
  <!-- <div *ngIf="!currentEducation.id">
    <br />
    <p>Seleccione un item a editar</p>
  </div> -->
</ng-template>
<!-------------- EDIT MODE VIEW----------------/ -->
