<div class="article-card">
  <div class="article-header">
    <div class="image-article"></div>
    <div class="article-text article-text-header">
      <div id="education">
        <div class="slide_bg" [ngClass]="{ 'dark-bg': darkMode }"></div>
        <div class="slide_content">
          <h1 class="title-card" data-aos="fade-up">Educación</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- DINAMIC CARD -->
  <div class="article-dynamic-card">
    <app-education-image class="image-article"></app-education-image>
    <app-education-text class="article-text"></app-education-text>
  </div>
  <!-- DINAMIC CARD / -->
</div>
