<div class="article-card" [ngClass]="{ 'dark-profile': darkMode }">
  <div class="article-header">
    <div class="about-image-article"></div>
    <div class="article-text article-text-header">
      <div id="about">
        <!-- <div class="slide_bg" [ngClass]="{ 'dark-bg': darkMode }"></div> -->
        <!-- <div class="slide_content"> -->
        <!-- <h1 class="title-card title-experience-about" data-aos="fade-up"> -->
        <h1
          class="title-card abouttitle"
          data-aos="fade-up"
          *ngIf="!isLoggedIn; else editable"
        >
          Acerca de...
        </h1>
        <ng-template #editable>
          <h1 class="title-card abouttitle" data-aos="fade-up">
            Acerca de...
          </h1>
        </ng-template>
        <!-- </div> -->
      </div>
    </div>
  </div>

  <!-- DINAMIC CARD -->
  <div class="about-dynamic-card">
    <app-about-image class="about-image-article"></app-about-image>
    <app-about-text class="article-text"></app-about-text>
  </div>
  <!-- DINAMIC CARD / -->
</div>
