.bannerImage {
  position: relative;
  background-image: url('../../../../../assets/images/banner/hubble1.jpg');
  height: 100vh;
  background-position: top;
  width: auto;
  background-size: cover;
  margin: auto;
  background-attachment: fixed;
  box-shadow: inset 0px 5px 20px 17px #100002;
  /* border-radius: 4rem; */
  /* margin-top: 3rem; */
  image-rendering: pixelated;
}

.banner img {
  width: 100%;
}

.sentence {
  position: absolute;
  left: 33%;
  color: white;
  top: 37%;
  width: 25%;
  /* font-size: 1.1rem; */
  font-family: verdana;
}

.sentence span {
  /* display: table; */
  font-size: small;
  margin: 14px;
}

.author {
  position: absolute;
  right: 13px;
  color: white;
  bottom: -20px;
  /* width: 17%; */
  font-size: 12px;
}

.author span {
  display: table;
  font-size: 9px;
  margin: 14px 0 14px;
  text-align: right;
  display: block;
}

.article-text-public {
  margin: 0;
  margin-top: 62px;
}


.icons-edit-banner {
  position: absolute;
  left: 64%;
  top: 30%;
  padding: 5px 7px 8px;
  border-radius: 3px;
  width: 47px;
  margin: auto;
  text-align: center;
  cursor: pointer;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.icons-edit-banner img {
  width: 77%;
}

@media (min-width: 830px) {
  .sentence {
    width: 33%;
    font-size: 1rem;
  }
}



/* MYRESUME */

.context {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
  color: #fff;
  transition: all 1s;
}

.context h1 {
  font-size: 10vw;
  font-family: 'Playfair Display', serif;
  padding: 10px;
}

.context h2 {
  font-weight: 300;
  font-size: 7vw;
  padding: 10px;
}

.blank_line {
  height: 0.2vh;
  box-shadow: 1px 1px 10px 1px;
  margin: 0 auto;
  width: 60%;
  position: sticky;
  top: 8vh;
}

.arrow_down {
  :hover {
    // opacity: 0.8;
    color: #f17338;
  }

  cursor: pointer;
  padding-top: 25vh;
  z-index: 1;
  position: relative;
}

@media (min-width: 900px) {
  .context h1 {
    font-size: 4rem;
  }

  .context h2 {
    font-size: 3rem;
  }

  .blank_line {
    width: 30%;
  }
}

.area {
  background: #004d9b;
  background: linear-gradient(to top, #2f9ec7, #004d9b);
  width: 100%;
  min-height: 100vh;
  transition: all 1s;
}

.circles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  // animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  // animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  // animation-delay: 2s;
  // animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  // animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  // animation-delay: 0s;
  // animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  // animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  // animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 30px;
  height: 30px;
  // animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  // animation-delay: 15s;
  // animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  // animation-delay: 2s;
  // animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 30px;
  height: 30px;
  // animation-delay: 0s;
  // animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.area-dark {
  background: linear-gradient(to top, #5b5b5b, #010911);
  transition: all 1s;
  filter: brightness(40%);
  background: none;
}

/* MYRESUME / */
