<!-- EN PRINCIPIO ESTOS MÓDULOS FORANEOS FUERON IMPORTADOS DESDE "app.module.ts" -->
<!-- PUDIENDO PONER ESTOS COMPONENTES FORANEOS  AQUI -->
<div class="container">
  <app-header></app-header>
  <!-- <div class="container"> -->
  <router-outlet></router-outlet>
  <!-- </div> -->
  <!-- <app-footer></app-footer> -->
  <!-- IMPORTANDO Y DECLARANDO ESTOS COMPONENTES (header footer)DESDE home.module.ts PUEDEN PONERSE EN "routing.component.html" -->
  <!-- PREVIAMENTE TUVIERON QUE SER EXPORTADOS DESDE SU MODULO "general.module.ts" MODULO AL QUE PERTENECEN -->
</div>

<!-- EL ORDEN IMPORTA -->
