<!-- RESTRICT EDIT TO UNAUTHORIZED USERS -->
<!-- IF isLoggedIn FAIL: FORBIDDEN -->
<div *ngIf="!isLoggedIn; else editMode">FORBIDDEN</div>

<!-- ELSE SHOW ARTICLE TO EDIT -->
<ng-template #editMode>
  <div *ngIf="isLoggedIn">
    <div class="submit-form">
      <h4>Añadiendo skill</h4>
      <div *ngIf="!submitted">
        <!-- FORM -->

        <!-- TITLE -->
        <div class="form-group">
          <label for="nameskill">Habilidad</label>
          <input
            type="text"
            class="form-control"
            id="nameskill"
            required
            [(ngModel)]="skill.nameskill"
            name="nameskill"
          />
        </div>

        <!-- DESCRIPTION -->
        <div class="form-group">
          <label for="levelskill">Nivel (Número: 1-100)</label>
          <textarea
            class="form-control"
            id="levelskill"
            required
            [(ngModel)]="skill.levelskill"
            name="levelskill"
            rows="5"
            cols="40"
          ></textarea>
        </div>

        <!-- SUBMIT -->
        <button (click)="toBack()" class="btn btn-secondary">Volver</button>
        <button (click)="saveSkill()" class="btn btn-primary">Añadir</button>
        <!--                                  routerLink="home" 'home'READS THE ROUTE OF ACTIVE PAGE (home/projects/add/home)-->
        <!-- <a class="nav-link" routerLink="home">HOME</a> -->

        <!-- FORM /-->
      </div>
    </div>
  </div>
</ng-template>
