<!-- HIDE AND SHOW ELEMENT -->
<!-- SHOW WHEN ENTER OR LEAVE MOUSE -->
<!-- <div (mouseenter)="showEditor()" (mouseleave)="hideEditor()"> -->
<!-- SHOW DOING CLICK CLOSE WINDOW MOVING MOUSE -->
<!-- <div (click)="showEditor()" (mouseleave)="hideEditor()"> -->
<!-- SHOW DOING CLICK CLOSE WINDOW CLICK ON X -->
<div *ngIf="isLoggedIn">
  <button (click)="hideEditor()" *ngIf="!element" class="closeEditor">X</button>
</div>
<div (click)="showEditor()">
  <!-- SHOW DOING CLICK CLOSE WINDOW CLICK ON X / -->
  <!---------------------STANDARD VIEW ARTICLE --------------------->
  <!-- DARKMODE -->
  <div id="profile" class="list row" [ngClass]="{ 'dark-content': darkMode }">
    <div class="col-md-6 article-text-public">
      <!-- <div *ngFor="let about of about">
        TEST
        {{ about.id }}
      </div> -->
      <!-- <div>{{ currentAbout.title }}TEST</div> -->
      <!-- SHOW ALL ARTICLES TO PUBLIC (ngFor) -->
      <ul class="list-group" *ngIf="!isLoggedIn; else editable">
        <!-- RETRIEVE DATA WITHOUT FOR -->
        <!-- <li class="list-group-item">
            {{ currentAbout.title }}
          </li> -->
        <!-- STYLES IN FIRST ELEMENT ONLY -->
        <!-- [ngClass]="{ first: first, last: last }" -->
        <li
          data-aos="flip-right"
          class="list-group-item"
          *ngFor="
            let about of about;
            let i = index;
            let first = first;
            let last = last
          "
          [class.active]="i == currentIndex"
          [ngClass]="{ first: first, last: last }"
        >
          <!-- {{ about.id }} -->
          <h5 class="articletitle">{{ about.title }}</h5>
          <p>{{ about.description }}</p>
        </li>
      </ul>
      <!-- SHOW ALL ARTICLES TO PUBLIC (ngFor)  / -->

      <!-- SHOW ALL ARTICLES TO EDIT (ngFor)  -->
      <ng-template #editable>
        <ul class="list-group">
          <!-- RETRIEVE DATA WITHOUT FOR -->
          <!-- <li class="list-group-item">
              {{ currentAbout.title }}
            </li> -->
          <!-- STYLES IN FIRST ELEMENT ONLY -->
          <!-- [ngClass]="{ first: first, last: last }" -->
          <li
            class="list-group-item"
            *ngFor="
              let about of about;
              let i = index;
              let first = first;
              let last = last
            "
            [class.active]="i == currentIndex"
            [ngClass]="{ first: first, last: last }"
            (click)="setActiveAbout(about, i)"
          >
            <!-- ICONS EDITION -->
            <!-- EDIT -->
            <div class="icons-edit">
              <a>
                <img
                  src="../../../../../assets/icons/edit/pencil-solid.svg"
                  alt=""
                  width="24"
                />
              </a>
              <!-- DELETE -->
              <!-- <a class="add" (click)="deleteAbout()">
                <img
                  src="../../../../../assets/icons/edit/trash-solid.svg"
                  alt=""
                  width="24"
                />
              </a> -->
              <!-- ADD -->
              <a routerLink="abouts/add" class="addabout">
                <img
                  src="../../../../assets/icons/edit/plus-solid.svg"
                  alt=""
                  width="24"
                />
              </a>
            </div>
            <!-- ICONS EDITION / -->
            <!-- {{ about.id }} -->
            <h5 class="articletitle">{{ about.title }}</h5>
            <p>{{ about.description }}</p>
          </li>
        </ul>
        <!-- DRAG AND DROP  -->
        <!-- DRAG AND DROP / -->
      </ng-template>
      <!-- SHOW ALL ARTICLES TO EDIT (ngFor)  / -->
    </div>
    <div></div>
    <!-- SHOW ARTICLE TO EDIT TO THE USER REGISTERED ONLY -->
    <!-- HIDE AND SHOW ELEMENT -->
    <div *ngIf="element == false">
      <div class="col-md-6 article-text-edit" *ngIf="isLoggedIn">
        <app-about-details
          [viewMode]="true"
          [currentAbout]="ccccurrentAbout"
          class="article-details-edit"
        ></app-about-details>
      </div>
    </div>
    <!-- HIDE AND SHOW ELEMENT / -->
    <!-- SHOW ARTICLE TO EDIT TO THE USER REGISTERED ONLY / -->

    <!--------------------- STANDARD VIEW ARTICLE /--------------------->
  </div>
  <!-- </div> -->
  <!-- CLOSE DOING CLICK ON BUTTON-->
  <!-- MUST BE OUT OF <div (click)="showEditor()">-->
  <!-- <button (click)="hideEditor()">Cerrar Editor</button> -->

  <!-- <button (mouseleave)="hideEditor()">Cerrar Ventana</button> -->

  <!-- HIDE AND SHOW ELEMENT -->
  <!-- <div *ngIf="element == true"></div> -->
  <!-- <div (mouseenter)="showEditor()"></div> -->
  <!-- <button (mouseleave)="hideEditor()">Hide Data</button> -->
  <!-- </div> -->
</div>

<!-- <div class="wrapper">
  <mat-tab-group>
    <!-- REORDERING LISTS -->
<!-- <mat-tab label="Reordering lists"> -->
<!-- <div cdkDropList class="movie-list" (cdkDropListDropped)="drop($event)"> -->
<!-- <div class="movie-block" *ngFor="let movieName of Movies" cdkDrag> -->
<!-- {{ movieName }} -->
<!-- </div> -->
<!-- </div> -->
<!-- </mat-tab> -->
<!-- REORDERING LISTS / -->

<!-- TRANSFER ITEMS BETWEEN LISTS -->
<!-- <mat-tab label="Transfer Items Between Lists">
      <div class="container">
        <h2>Movies</h2>
        <div
          cdkDropList
          #moviesList="cdkDropList"
          [cdkDropListData]="MoviesList"
          [cdkDropListConnectedTo]="[doneMovieList]"
          class="movie-list"
          (cdkDropListDropped)="onDrop($event)"
        >
          <div
            class="movie-block"
            *ngFor="let moviesList of MoviesList"
            cdkDrag
          >
            {{ moviesList }}
          </div>
        </div>
      </div>
      <div class="container">
        <h2>Movies Watched</h2>
        <div
          cdkDropList
          #doneMovieList="cdkDropList"
          [cdkDropListData]="MoviesWatched"
          [cdkDropListConnectedTo]="[moviesList]"
          class="movie-list"
          (cdkDropListDropped)="onDrop($event)"
        >
          <div
            class="movie-block"
            *ngFor="let moviesWatched of MoviesWatched"
            cdkDrag
          >
            {{ moviesWatched }}
          </div>
        </div>
      </div>
    </mat-tab> -->
<!-- TRANSFER ITEMS BETWEEN LISTS / -->
<!-- </mat-tab-group> -->
<!-- </div> -->
